<h2 style="text-align: center">Fomulario de ingreso</h2>
<div>
    <mat-form-field class="fila">
        <mat-select placeholder="Tipo vehículo" [(ngModel)]="vehiculo.tipo">
            <mat-option value=2>MOTO</mat-option>
            <mat-option value=1>CARRO</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div>
    <mat-form-field class="fila">
        <input matInput placeholder="Placa" required [(ngModel)]="vehiculo.placa">
    </mat-form-field>
</div>

<div>
    <mat-form-field class="fila">
        <input matInput placeholder="Marca" [(ngModel)]="vehiculo.marca">
    </mat-form-field>
</div>

<div>
    <mat-form-field class="fila">
        <input type="number" matInput placeholder="Cilindraje" required [(ngModel)]="vehiculo.cilindraje">
    </mat-form-field>
</div>

<div>
    <mat-form-field class="fila">
        <input matInput placeholder="Color" [(ngModel)]="vehiculo.color">
    </mat-form-field>

</div>
<div mat-dialog-actions class="fila">
    <button mat-raised-button color="primary" (click)="registrarVehiculo()">Ingresar</button>
</div>
<div mat-dialog-actions class="fila">
    <button mat-stroked-button color="warn" (click)="onNoClick()">Cancelar</button>
</div>


<!--
    [mat-dialog-close]="data.animal"
    cdkFocusInitial
-->