<h2 style="text-align: center">Fomulario de ingreso</h2>
<div>
    <mat-form-field class="fila">
        <mat-select placeholder="Tipo vehículo">
            <mat-option value="moto">MOTO</mat-option>
            <mat-option value="carro">CARRO</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div>
    <mat-form-field class="fila">
        <input matInput placeholder="Placa" required>
    </mat-form-field>
</div>

<div>
    <mat-form-field class="fila">
        <input matInput placeholder="Marca">
    </mat-form-field>
</div>

<div>
    <mat-form-field class="fila">
        <input type="number" matInput placeholder="Cilindraje" required>
    </mat-form-field>
</div>

<div>
    <mat-form-field class="fila">
        <input matInput placeholder="Color">
    </mat-form-field>

</div>

<div mat-dialog-actions class="fila">
    <button mat-raised-button color="primary" [mat-dialog-close]="data.animal" (cilck)="registrarVehiculo">Ingresar</button>
</div>
<div mat-dialog-actions class="fila">
    <button mat-stroked-button color="warn" (click)="onNoClick()">Cancelar</button>
</div>

<!--
    cdkFocusInitial
-->